<h3>Listado de Gastos</h3>
<br>
<div class="row top">
  <div class="col-md-6">
    <div class="alert alert-success taskAlert">Presupuesto: <strong> ${{budget | number}}</strong></div>
  </div>
  <div class="col-md-6">
    <div class="taskAlert" [ngClass]="getClassRemaining()">Restante: <strong>${{remaining | number}}</strong></div>
  </div>
</div>
<div class="row">
  <ul class="list-group list-group-flush">
    <li *ngFor="let bill of bills" class="list-group-item d-flex justify-content-between">
      <strong>{{bill.name}}</strong>
      <strong class="badge bg-dark">${{bill.count | number}}</strong>
    </li>
  </ul>
</div>